@model SalesCineProject.Models.Movie

@{ 
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>
<div>
    <h4> Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => Model.Ticket.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Ticket.Client)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Ticket.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Ticket.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Hour)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Hour.Hour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Ticket.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Ticket.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => Model.Ticket.Payment)
        </dt>
        <dd>
            @Html.DisplayFor(model => Model.Ticket.Payment)
        </dd>
    </dl>
</div>
<a asp-action="Index" class="btn btn-default">Back to list</a>